{% load static %}
<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/style.css'%}" rel="stylesheet">

    <title>Formulario</title>
</head>

<body>
    {% load static %}
    <div class="container">
        <h1 id="centrar">Listado de Residentes</h1>
        <div class="row">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Rut</th>
                        <th scope="col">Nombre Residente</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Nombre Familiar</th>
                        <th scope="col">Número Familiar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for re in residentes %}
                    <tr>
                        <td>{{re.Rut}}</td>
                        <td>{{re.NombreResidente}}</td>
                        <td>{{re.Edad}}</td>
                        <td>{{re.NomFamiliar}}</td>
                        <td>{{re.NumFamiliar}}</td>
                        <td><a href="{% url 'form_del_residente' re.Rut %}">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'form_residente' %}">Nuevo Residente</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>